button {
   padding: 5px;
   margin: 10px;
   border-radius: 10px;
   cursor: pointer;
}

.Submit {
   background-color: lightgreen;
   color: white;
}

.Submit:hover {
   background-color: green;
   color: white;
}

.Cancel {
   background-color: lightcoral;
   color: white;
}

.Cancel:hover {
   background-color: red;
   color: white;
}