.NavItem {
   margin: 10px 0;
   box-sizing: border-box;
   display: block;
   width: 100%;
}

.NavItem a {
   height: 100%;
   padding: 14px 10px;
   text-decoration: none;
   box-sizing: border-box;
   display: block;
   color: #FFFFFF;
}

.NavItem:hover {
   background-color: #7B1FA2;
}

.active {
   background-color: #7B1FA2;
   border-bottom: 4px solid #009688;
}